<div class="container mt-3">
  <h1><%= @list.name %></h1>
  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>
  <h2 class="mt-3">Add Bookmarks</h2>
  <%= simple_form_for [@list, @bookmark] do |f| %>
  <div class="mb-3">
      <%= f.input :comment %>
      <%= f.input :movie, collection:Movie.all %>
  </div>
  <div class="mb-3">
    <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
  <ul lass="list-group">
  <% @list.bookmarks.each do |bookmark|  %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= image_tag bookmark.movie.poster_url, alt: "movie poster", width: 200 %>
      <span class="fw-bold">Movie:</span> <%= bookmark.movie.title %>
      <span class="fw-bold">Comment:</span> <%= bookmark.comment %>
      <%= link_to "Delete",
        bookmark_path(bookmark),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
  </ul>


</div>
